In [1]:
import pandas as pd

veri = {
    'Şehir': ['İstanbul', 'Ankara', 'İzmir', 'Ankara', 'İzmir', 'İstanbul'],
    'Aylık Satış': [25000, 18000, 22000, 19000, 21000, 24000],
    'Müşteri Sayısı': [150, 120, 130, 110, 140, 160]
}

satislar = pd.DataFrame(veri)
print(satislar)

      Şehir  Aylık Satış  Müşteri Sayısı
0  İstanbul        25000             150
1    Ankara        18000             120
2     İzmir        22000             130
3    Ankara        19000             110
4     İzmir        21000             140
5  İstanbul        24000             160

In [5]:
toplam_satislar = satislar.groupby("Şehir")["Aylık Satış"].sum()
print(toplam_satislar)

Şehir
Ankara      37000
İstanbul    49000
İzmir       43000
Name: Aylık Satış, dtype: int64

In [6]:
ortalama_musteri_sayisi = satislar.groupby('Şehir')['Müşteri Sayısı'].mean()
print(ortalama_musteri_sayisi)

Şehir
Ankara      115.0
İstanbul    155.0
İzmir       135.0
Name: Müşteri Sayısı, dtype: float64

In [ ]:
en_yuksek_satis = satislar['Aylık Satış'].max()
en_yuksek_satisin_sehri = satislar[satislar['Aylık Satış'] == en_yuksek_satis]['Şehir'].values[0]
print(f"{en_yuksek_satisin_sehri} şehrinde en yüksek aylık satış: {en_yuksek_satis}")

In [7]:
import pandas as pd

veri = {
    'Ad': ['Ali', 'Ayşe', 'Mehmet', 'Elif', 'Hasan'],
    'Puan': [85, 92, 78, 70, 88],
    'Cinsiyet': ['Erkek', 'Kadın', 'Erkek', 'Kadın', 'Erkek']
}

ogrenciler = pd.DataFrame(veri)

In [8]:
print(veri)

{'Ad': ['Ali', 'Ayşe', 'Mehmet', 'Elif', 'Hasan'], 'Puan': [85, 92, 78, 70, 88], 'Cinsiyet': ['Erkek', 'Kadın', 'Erkek', 'Kadın', 'Erkek']}

In [9]:
veri.head()

AttributeError: 'dict' object has no attribute 'head'

In [1]:
import pandas as pd

veri = {
    'Ad': ['Ali', 'Ayşe', 'Mehmet', 'Elif', 'Hasan'],
    'Puan': [85, 92, 78, 70, 88],
    'Cinsiyet': ['Erkek', 'Kadın', 'Erkek', 'Kadın', 'Erkek']
}

ogrenciler = pd.DataFrame(veri)

In [5]:
ortalama = ogrenciler.groupby('Ad')['Puan'].mean()

In [6]:
print(ortalama)

Ad
Ali       85.0
Ayşe      92.0
Elif      70.0
Hasan     88.0
Mehmet    78.0
Name: Puan, dtype: float64

In [7]:
cinsiyet_ortalama = ogrenciler.groupby('Cinsiyet')['Puan'].mean()

In [8]:
print(cinsiyet_ortalama)

Cinsiyet
Erkek    83.666667
Kadın    81.000000
Name: Puan, dtype: float64

In [9]:
import pandas as pd

veri = {
    'Şehir': ['İstanbul', 'Ankara', 'İzmir', 'Ankara', 'İzmir', 'İstanbul'],
    'Sıcaklık': [30, 32, 28, 35, 29, 31],
    'Nem': [55, 50, 60, 40, 65, 58]
}

hava_durumu = pd.DataFrame(veri)

In [10]:
hava_durumu

      Şehir  Sıcaklık  Nem
0  İstanbul        30   55
1    Ankara        32   50
2     İzmir        28   60
3    Ankara        35   40
4     İzmir        29   65
5  İstanbul        31   58

In [12]:
ortalamasıcaklık = hava_durumu.groupby('Şehir')['Sıcaklık'].mean().axis(1)

AttributeError: 'Series' object has no attribute 'axis'

In [15]:
ortalamasıcaklık = hava_durumu.groupby('Şehir')['Sıcaklık'].mean()

In [16]:
print(ortalamasıcaklık)

Şehir
Ankara      33.5
İstanbul    30.5
İzmir       28.5
Name: Sıcaklık, dtype: float64

In [17]:
yukseknem = hava_durumu.groupby('Şehir')['Sıcaklık'] > 55

TypeError: '>' not supported between instances of 'SeriesGroupBy' and 'int'

In [ ]:
yukseknem = hava_durumu['Sıcaklık'] > 55